h1 {
	text-align: center;
	margin: 50px 50px;
}

h2 {
	font-size: 15pt;
}

h3 {
	font-size: 12pt;
}

.card {
	width: 500px;
}

.disclaimer {
	margin-bottom: 20px;
	font-weight: bold;
}

.hidden {
	display: none;
}
