h1 {
	text-align: center;
	margin: 50px 50px;
}

h2 {
	font-size: 15pt;
}

h3 {
	font-size: 12pt;
}

.card {
	width: 500px;
	margin-bottom: 30px;
}

.disclaimer {
	margin-bottom: 20px;
	font-weight: bold;
	text-align: center;
}

.hidden {
	display: none;
}

label {
	display: inline-block;
	width: 120px;
	text-align: right;
}

.button-container {
	display: flex;
	justify-content: center;
}

button {
	margin-right: 10px;
}

#clear, #clear-second {
	width: 80px;
}
